.body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.fs-xs{
    font-size: 0.8rem;
}

.bg-mybag{
    background-color: #2C2C32 !important;
}

.bg-mybag a{
    text-decoration: none;
}

.nav-link:hover{
    color: white !important;
}

::placeholder{
    color: rgb(211, 211, 211) !important;
}

@media only screen and (max-width: 990px) {
    .searchdiv {
      display: none;
    }
}

.navbar-text a{
    color: #2974e6 !important;
    text-decoration: none;
}

.subnav{
    background-color: #25252B !important;
    margin-top: 3.5rem;
}

.textsection{
    border-radius: 10px;
}

.screenshot{
    height: auto;
    width: 100%;
}

.size{
    font-size: 4rem;
}

.section3{
    background-color: #F5F5F5;
}

.testimg1{
    width: 60px;
    border-radius: 2em;
}

.testname{
    font-weight: 700;
}

.testcom{
    font-weight: 100;
}

.slide{
    padding: 5rem 3rem;
}

.section4{
    width: 99%;
}

.section5 a{
    text-decoration: none;
    color: #2974e6;
}

.section7 a{
    text-decoration: none;
    color: #2974e6;
}

.paragraph{
    line-height: 2rem;
}

.footer{
    background-color: #333333;
    color: #F5F5F5;
    width: 100.9%;
}

.footelement{
    font-size: 0.8em;
    padding: 0.6rem;
}

.footelement a{
    text-decoration: none;
    color: #F5F5F5;
}

.footelement button{
    background-color: #F5F5F5;
    border: none;
    border-radius: 2px;
}

.x:hover{
    color: #2974e6;
    cursor: pointer;
}

@media only screen and (max-width: 990px) {
    .footer {
      width: 102%;
    }
}

@media only screen and (max-width: 576px) {
    .footer {
      width: 103%;
    }
}

@media only screen and (max-width: 380px) {
    .hidevs {
      display: none;
    }
}

.text-lightgrey{
    color: #b3b3b3 !important;
}
